body {background: #2471A3;
	font-family: Arial, Verdana, sans-serif;
	margin-left: 20px;}

h1 {text-align: center;
	color: white;}

p {color: yellow;
	font-size: 20px;}

div {background: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;}

#id {width: 50%;
	height: 25px;}

button {width: 150px;
	height: 30px;}

.thick {font-weight: bold;}